@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');
@import "tailwindcss";


:root {
    --background: oklch(0% 0 0);
    --foreground: oklch(100% 0.00011 271.152);

    --color-train-text: oklch(0.88 0.17 95);
    
    --warning: oklch(0.84 0.16 84);
    --warning-foreground: oklch(0.28 0.07 46);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    
    --color-train-text: var(--color-train-text);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --font-family-train: 'Orbitron', monospace;

    --animate-scroll: scroll 20s linear infinite;
    --animate-scroll-destination: scroll-destination 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-destination {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.font-family-train {
    text-shadow: 
    0 0 5px currentColor,
    0 0 10px currentColor;
    letter-spacing: 0.05em;
    filter: contrast(1.1) brightness(1.05);
}

.font-family-train::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05) 0px,
    transparent 1px,
    transparent 2px,
    rgba(0, 0, 0, 0.05) 3px
    );
    pointer-events: none;
}